@import "../../index";

// heavily inspired from http://css3.bradshawenterprises.com/cfimg/#cfimg1

#cover {
    div {
        position: relative;
        height: 500px;
        overflow-y: hidden;

        $a: 10; // presentation time for one image, in seconds
        $b: 0.5; // duration for cross fading, in seconds
        $n: 3; // number of images

        $t: ($a + $b) * $n; // total animation duration
        img {
            position: absolute;
            vertical-align: middle;
            opacity: 1;
            width: 100%;

            animation: images_fade;
            animation-timing-function: normal;
            animation-iteration-count: infinite;
            animation-duration: #{$t}s;
            animation-direction: normal;

            // make animation
            @keyframes images_fade {
                0% {
                    opacity: 1;
                }
                #{$a / $t * 100%} {
                    opacity: 1;
                }
                #{100% / $n} {
                    opacity: 0;
                }
                // #{($n - 1) / $n * 100%} {
                //     opacity: 0;
                // }
                #{100% - $b / $t * 100%} {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            @for $i from 0 to $n {
                &:nth-of-type(#{$i + 1}) {
                    animation-delay: #{($n - $i) * ($a + $b) - $b}s;
                }
            }
        }
    }
}
