@import "../../index";

#contact-us {
    padding: 20px 10% 20px 10%;
    height: 400px;
    margin-top: 40px;

    background-color: $off_white;
    background: url("./contact-us-bg.svg");

    @media (max-width: #{$tablet_width}) {
        height: 550px;
    }

    @media (max-width: #{$mobile_width}) {
        height: 600px;
    }

    h2 {
        text-align: center;
    }

    .logo-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        // width of a contact me container, in vw
        $cm_width: max(39vw, 300px);
        // number of contact me elements
        $n: 7;

        // time it takes for logo to appear (in seconds)
        $logo_appear_time: 0.2;
        // time it takes for logo link to appear (in seconds)
        $logo_link_appear_time: 1;

        .logo {
            width: $cm_width;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;

            .logo-icon {
                font-size: 2em;
                order: 0;
                padding: 0 5px;
                opacity: 0;

                @media (max-width: #{$mobile_width}) {
                    font-size: 1.6em;
                }
            }

            // once element is visible, start the animation
            .start-logo-icon-animation {
                animation: logo-appear-and-move;
                animation-timing-function: normal;
                animation-duration: 1.5s;
                animation-direction: normal;
                animation-fill-mode: forwards;
            }

            .logo-link {
                font-family: "Open Sans", sans-serif;
                order: 1;
                opacity: 0;
                padding: 0 5px;

                @media (max-width: #{$mobile_width}) {
                    font-size: 0.8em;
                }
            }

            // once element is visible, start the animation
            .start-logo-link-icon-animation {
                animation: logo-link-appear;
                animation-timing-function: normal;
                animation-duration: 1s;
                // animation-delay: 1s;
                animation-direction: normal;
                animation-fill-mode: forwards;
            }

            @for $i from 1 to $n {
                .logo-icon:nth-of-type(#{$i}) {
                    animation-delay: #{$logo_appear_time * $i}s;
                }

                .logo-link:nth-of-type(#{$i}) {
                    animation-delay: #{$logo_link_appear_time * $i}s;
                }
            }

            @keyframes logo-appear-and-move {
                0% {
                    opacity: 0;
                    transform: translateX($cm_width);
                }
                #{$logo_appear_time / ($logo_appear_time * $logo_link_appear_time) * 100%} {
                    opacity: 1;
                    transform: translateX($cm_width);
                }
                100% {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            @keyframes logo-link-appear {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }

        @for $i from 1 through $n {
            .logo:nth-of-type(#{$i}) {
                .logo-icon {
                    animation-delay: #{$logo_appear_time * $i}s;
                }

                .logo-link {
                    animation-delay: #{$logo_appear_time * $i + $logo_link_appear_time}s;
                }
            }
        }
    }
}
