@import '../../index';

#top-navbar {
    background-color: $off_white;
    font-family: 'poppins';
    padding: 0;

    z-index: 1000;
    height: 70px;

    .navbar {
        padding: 2.5px .5rem;
    }

    .nav-item {
        margin: 3px 12px;
        color: $logo_black !important;
    }
    
    #navbar-img {
        width: 50px;
        margin-right: 10px;

        @media (max-width: $mobile_width) {
            width: 30px;
        }
    }
    
    .navbar-brand {
        color: $logo_black !important;
        font-weight: 500;
        font-size: 1.5rem !important;
        margin: 0 5px;
        vertical-align: middle;

        @media (max-width: $mobile_width) {
            font-size: 1.0rem !important;
        }

        span {
            position: relative;
            top: 1px;
            right: -5px;

            @media (max-width: $mobile_width) {
                right: 0px;
            }
        }
    } 
    
    .navbar-logo {
        padding: 0 0;
    }

    // navbar toggler (for mobile device width)
    .navbar-light .navbar-toggler-icon {

        @media (max-width: $mobile_width) {
            width: 1rem;
            height: 1rem;
            background-size: 130%;
        }
    }

    .navbar-bottom-borders {
        * {
            height: 3px;
        }

        .border-1 {
            background-color: $logo_red;
        }

        .border-2 {
            background-color: $logo_orange;
        }
    }
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0px;
}
