@import "../../index";

#faqs {
    .faq {
        padding: 40px 8% 0 8%;
        display: flex;
        flex-wrap: wrap;

        &:nth-of-type(odd) {
            div {
                order: 1;
            }
        }

        &:nth-of-type(even) {
            div {
                order: -1;
            }
        }

        img {
            width: min(500px, 100%);
            object-fit: cover;
            height: 300px;
            border-radius: 10%;
            order: 0;
        }

        div {
            width: 60%;
            padding: 10px 3%;
        }
    }
}
