@import "../../index";

#faqs {
    .faq {
        padding: 40px 8% 0 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        background-color: white;

        img {
            width: min(500px, 100%);
            object-fit: cover;
            height: 50vh;
            border-radius: 10%;
            order: 0;
        }

        div {
            width: 50%;
        }

        // get "alternating" pattern between images and text
        &:nth-of-type(odd) {
            div {
                order: 1;
                padding-left: 5%;
            }
        }

        &:nth-of-type(even) {
            div {
                order: -1;
                padding-right: 5%;
            }
        }

        // text styles
        h2 {
            font-size: 2.4em;
            font-weight: 600;
            color: rgb(233, 10, 84);
        }

        @media (max-width: #{$medium_desktop_width}) {
            img {
                width: 98%;
                // margin: 0 2.5%;
            }

            div {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                // make sure image comes first before text if
                // desktop is small
                order: 1 !important;
            }
        }

        @media (max-width: #{$mobile_width}) {
            padding: 5px 8%;

            div {
                margin-top: 20px;
                padding: 0 10px;
            }

            h2 {
                font-size: 2em;
            }
        }
    }
}
